body {
    background-color: black;
}

header {
    width: 100%;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav {
    display: flex;
    justify-content: flex-end;
    padding: 7px;
    border: 1px solid grey;
    margin: 5px;
}

nav a {
    color: white;
}

h2 {
    display: flex;
    color: rgb(216, 196, 14);
    justify-content: center;
    font-size: 50px;
    
}