/* esta muy desordenado */

body {
    background-color: black;
    font-family: 'Oswald', sans-serif;
}

header {
    width: 100%;
}


/* main {
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 61%, rgb(82, 76, 1) 100%);
} */

.nav2 {
    display: none;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
}

.menu > li {
    display: inline-block;
}

.menu a {
    display: block;
    padding: 10px 20px;
    color: rgb(221, 199, 2);
    text-decoration: none;
    background-color: rgb(44, 44, 44);
}

.submenu {
    display: none;
    position: absolute;
}

.submenu li {
    display: block;
}

.menu > li:hover .submenu {
    display: block;
}

.nav {
    /* display: flex;
    justify-content: flex-end;
    padding: 7px;
    border: 1px solid grey;
    background-color: rgb(32, 32, 32); */
    
    width: 100%;
    height: 5em;
    background-color: #202020;
    box-shadow: 1px 4px 8px #3a3a3a;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: flex-end;
}

header nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-right: 5em;
}

nav a {
    color: white;
    margin: 1em 1em;

    text-decoration: none;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

nav a:hover {
    color: rgb(84, 155, 26);
}


.nav2 img {
    width: 17%;
}

footer {
    display: flex;
    color: white;
    flex-direction: column;
    
    width: 100%;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(57,56,56,1) 100%);
    padding-bottom: 20px;
    /* background: radial-gradient(circle, rgba(175,172,172,1) 0%, rgba(0,0,0,1) 91%, rgba(51,83,1,1) 100%); */
}

.nav-footer nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-footer {
    display: flex;
   
    border: 2px solid rgb(255, 255, 255);
    font-size: 20px;
    padding: 7px;
}

.redes-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

footer h3 {
    font-size: 30px;
    color: rgb(84, 155, 26);
}

.redes {
    width: 80%;
    padding: 10px;

    display: flex;
    justify-content: space-around;
}

.redes-nombre {
    display: flex;
    align-items: center;

    color: rgb(84, 155, 26);
}

.redes-nombre:hover {
    color: rgb(35, 117, 172);
}

.imagen-redes {
    align-items: center;
    align-self: center;
    width: 40px;
}

.autor {
    margin: 15px;
}

#autoria {
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mainnn {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    align-content: center;
}

.principal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    
    width: 100%;
    padding-bottom: 18%;
    padding-top: 18%;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 20%;
}

#fotoperfil {
    width: 75%;
    margin: 15px;
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 1px 2px 6px #e2e2e2;
}

.img:hover #fotoperfil {-webkit-transform:scale(1.1);transform:scale(1.1);}
.img {overflow:hidden;}

.informacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 40%;
}

.info {
    font-size: 30px;
    margin: 15px;
    text-align: center;
}

#name {
    font-family: 'Oswald', sans-serif;
    font-size: 5rem;
    text-transform: uppercase;
    color: rgb(189, 170, 3);
    text-shadow: 3px 4px rgb(58, 102, 22);
    line-height: 0.8em;
    text-align: center;
    padding: 0;
    margin: 0;
}

h2 {
    display: flex;
    color: rgb(216, 196, 14);
    justify-content: center;
    font-size: 50px;
    
}

.conocimientoss {
    width: 100%;
    display: flex;
    
    justify-content: space-around;
    align-content: center;
    align-items: center;
   
    margin-bottom: 10%;
    padding: 15px;
}

.conocimientoss a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    color: white;
}

.conocimientoss a:hover {
    color: rgb(216, 196, 14);
}



.logo {
    width: 17%;
    border: 2px solid white;
    box-shadow: 2px 4px 6px #e2e2e2;
    border-radius: 10px;
}

#logohtml {
    width: 75%;
    padding: 5%;
    margin: 5%;
}

#logocss {
    width: 75%;
    padding: 5%;
    margin: 5%;
}

#logojs {
    width: 75%;
    border-radius: 50%;
    padding: 5%;
    margin: 2%;
}

.proyectos {
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    
    background-color: rgb(32, 32, 32);
    /* border: 2px solid white; */

    height: 100%;
    width: 100%;
    padding-bottom: 3%;
    margin-bottom: 5%;
}

#project {
    background-color: rgb(32, 32, 32);
    margin: 5% 0 0 0;
    padding: 3%;
}

.proyecto1 {

    width: 25%;
    height: auto;
    border: 2px solid white;
    margin: 25px;
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: black;
    border: 2px solid white;
    box-shadow: 2px 4px 6px #e2e2e2;
    border-radius: 10px;
}

.imagenproyecto {
    width: 80%;
    margin: 8%;
    border: 1px solid rgb(190, 180, 28);
}

.linka {
    padding: 10px;
    margin: 15px;
    
    cursor: pointer;
    font-size: 25px;
    font-weight: 600;

    box-shadow: 4px 4px 4px rgb(167, 164, 5);
    background-color: rgb(216, 216, 213);
    color: rgb(143, 0, 0);
    border-radius: 10%;
}

.linka:hover {
    color: rgb(49, 0, 139);
}

#seccion-contacto {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: auto;
    margin: 50px 0px 50px 0px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.texto-breve {
    width: 30%;
    background-color: rgb(87, 87, 87);
    margin: 25px;
    
    border: 2px solid white;
    box-shadow: 2px 4px 6px #e2e2e2;
    border-radius: 10px;
}

.redes-y-contacto {
    width: 30%;
    background-color: rgb(41, 41, 41);
    margin: 10px;
    color: white;

    border: 2px solid white;
    box-shadow: 2px 4px 6px #e2e2e2;
    border-radius: 10px;
}

.redes-de-contacto {
    padding: 5%;
    background-color: rgb(87, 87, 87);
    width: auto;
    height: auto;
    font-weight: 800;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redes-de-contacto a {
    color: rgb(189, 170, 0);
}

.redes-de-contacto a:hover {
    color: rgb(39, 163, 1);
}

.iconos-de-contacto {
    width: 5%;
}

#direction {
    color:rgb(189, 170, 0);
}

#direction:hover{
    color: rgb(39, 163, 1);
}

@media  (max-width: 480px) {
    .nav {
        display:none;
    }

    .nav2 {
        display: flex;        
    }

    .nav2 nav {
        width: 100%;
        margin:0 ;
        padding: 0;
    }

    .principal {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img {
        order: 2;
        width: 35%;
        margin: 5px;
    }

    #fotoperfil {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 70%;
    }

    .informacion {
        width: 95%;
        text-align: center;
    }

    #info {
        font-size: 20px;
        margin: 5px;
    }

    #conocimientos {
        font-size: 30px;
        text-align: center;
        width: 100%;
        margin: auto;
    }

    .conocimientoss a {
        font-size: 70%;
    }

    .logo1 {
        width: 25%;
    }

    .logo2 {
        width: 25%;
    }

    .logo3 {
        width: 25%;
    }

    .nav-footer {
        display:none;
    }

    .redes {
        display: flex;
        flex-direction: column;
    }
    
}